:root {
    --pri: #884637;
    --sec: #f2f1e7;
    --bac: #000;
    --bac2: #f2f1e780;
}

::selection {
    background-color: var(--pri);
    color: var(--sec);
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.3em;
    color: var(--sec);
    background: url(background.webp) center center fixed no-repeat;
    background-size: cover;
    background-color: var(--bac);
}

.navbar {
    box-sizing: border-box;
    position: sticky;
    display: flex;
    width: 100%;
    height: 100px;
    top: 0;
    margin-top: 25px;
    align-items: center;
    z-index: 1;
    background-color: #0000;
    box-shadow: 0 -25px 20px 50px #0000;
    white-space: nowrap;    /*Remove?*/
    animation: loadIn 1s;
    transition: 0.3s ease-in-out;
}

.title {
    display: inherit;
    margin-left: 2em;
    align-items: inherit;
    font-family: 'Times New Roman', Times, serif;
    color: var(--sec);
    text-decoration: none;
    user-select: none;
}

.title h1 {
    float: right;
    margin-left: 20px;
}

.title img {
    float: left;
    height: 60px;
}

.links {
    margin-left: auto;
}

.links li {
    display: inline;
    margin-right: 2em;
}

.links li a {
    position: relative;
    color: var(--sec);
    text-decoration: none;
}

.links li a::after {
    content: "";
    position: absolute;
    display: block;
    width: 0;
    height: 3px;
    left: 50%;
    background: var(--pri);
    border-radius: 5px;
    transition: 0.3s ease-in-out;
}

.links li a:hover::after {
    width: 100%; 
    left: 0; 
}

.navbox {
    box-sizing: border-box;
    position: fixed;
    display: none;
    width: 80%;
    height: 250px;
    left: 10%;
    bottom: -252px;     /*Not dynamic*/
    z-index: 1;
    border-radius: 25px;
    background-color: var(--bac);
    border: var(--sec) 2px solid;
    outline: var(--bac) 2px solid;
    transition: 0.3s ease-in-out;
}

.active .navbox {
    bottom: 100px;
}

.navbox .links li {
    display: block;
    margin-bottom: 1em;
    text-align: center;
}

.navbutton {
    position: fixed;
    display: none;
    width: 45px;
    height: 45px;
    left: 50%;
    bottom: 78px;
    transform: translateX(-50%);
    z-index: 1;
    border-radius: 50%;
    background-color: var(--pri);
    border: none;
}

.navbutton div {
    width: 20px;
    height: 5px;
    margin: 5px auto;
    border-radius: 5px;
    background-color: var(--sec);
    transition: 0.3s ease-in-out;
}

.navbutton .b2 {
    width: 30px;
}

.active .b1 {
    transform: rotate(-45deg) translate(-2px, 7px);
}

.active .b2 {
    transform: rotate(45deg);
}

.active .b3 {
    transform: rotate(-45deg) translate(2px, -7px);
}

header {
    display: flex;
    height: calc(100vh - 125px);     /*Not dynamic*/
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.4em;
}

section {
    box-sizing: border-box;
    width: 100%;
    height: calc(100vh - 100px);
    padding: 20px;
}

#about {
    background-color: var(--bac2);
    backdrop-filter: blur(10px);
    color: var(--bac);
}

#products {
    background-color: var(--bac);
}

#location {
    background-color: var(--pri);
}

#location iframe {
    display: block;
    margin: auto;
    border-radius: 10px;
}

footer {
    display: flex;
    padding: 20px;
    justify-content: space-around;
    align-items: center;
    background-color: var(--bac);
    box-shadow: 0 25px 20px 50px var(--bac);
}

footer a {
    text-decoration: none;
}

footer img {
    height: 50px;
    margin: 5px;
}

@media only screen and (max-width: 845px) {     /*Not dynamic*/
    .navbar {
        justify-content: center;
    }

    .title {
        margin: 0;
    }

    .navbar .links {
        display: none;
    }

    .navbox, .navbutton {
        display: block;
    }
}

@keyframes loadIn {
    from {
        transform: translateY(15px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}